# Arquivos de Cache do Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Arquivos de Ambiente Virtual
venv/
.venv/
env/
.env

# Arquivos de Build e Distribuição (para PyInstaller)
build/
dist/
*.egg-info/
*.spec

# --- ARQUIVOS SENSÍVEIS E DE USUÁRIO (NUNCA COMPARTILHAR) ---
chief_dossier.json
doxoade_report.json
Exemplo/
tmp/
.dox_agent_workspace/
.dox_lab/
tests/
telemetry/
regression_tests/canon/
recovery_zone/
credentials.json
token.json
config.json
#doxoade.bat
*.log
*.txt
*.bkp
*.bak
*.dox
*.patch
*.pyx
*.zim
*.pid
*.old_trash
.nppBackup
nppBackup/
./nppBackup/
pytest_temp_dir/
.doxoade/vulcan/foundry/
data/

# --- Arquivos de Configuração de IDE ---
.vscode/
.idea/

# Arquivos de sistema do Windows
desktop.ini
Thumbs.db

# --- BACKUPS E ARQUIVOS TEMPORÁRIOS ---
Vers/

*.mak
*.log

# Doxoade cache files
.doxoade_cache/
.doxoade/
.doxoade/vulcan/foundry/

# terceirizados
opt/w64devkit/
models/sicdox/Qwen2.5-Coder-0.5B-Instruct-Q4_K_M-GGUF

# Exceções (Auto-fixed pelo Doxoade)
# permitir versionamento de testes automatizados

# Exceções (Auto-fixed pelo Doxoade)
!requirements.txt
!PipelineHelp.txt
!tests/
!tests/**
